doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge, chrome=1')
    link(rel='shortcut icon', type='image/png', href='assets/favicon.ico')
    title Paragon Starter Project
    link(rel='stylesheet', type='text/css', href='css/core.css')
    script(type='text/javascript', src='js/vendor.js' defer)
    script(type='text/javascript', src='js/app.js' defer)
  body
    .root-anchor